body{
  background-image:
    linear-gradient(rgba(44,62,80,0.25), rgb(44,62,80)),
    url('https://media.istockphoto.com/photos/snowmass-wide-mountains-snow-pack-cliffs-lake-colorado-rugged-summits-picture-id472232442?k=6&m=472232442&s=612x612&w=0&h=4R2Fmmqiuocsk6xeNbgFeXq0jDPKwe6Ax-C_LjjbVpY=');
  background-color: rgb(44,62,80);
  background-position: 0 33px;
  background-repeat: repeat-x;
  background-size: 100% 35%, auto 35%;
  color: #EEE;
  height: 100%;
  width: 100%;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255,255,255,1);
}

body {
  border: 1px solid #48545c;
  overflow-y: hidden;
}

html, body {height: 100%; margin: 0;}

#main {
  height: calc(100% - 64px);
  margin-top: 132px;
  padding-left: 41.5px;
  padding-right: 41.5px;
  padding-bottom: 41.5px;
  overflow-y: auto;
}
