body{
  background-image:
    linear-gradient(rgba(44,62,80,0.25), rgb(44,62,80)),
    url('images/background.png');
  background-color: rgb(44,62,80);
  background-position: 0 33px;
  background-repeat: repeat-x;
  background-size: auto 35%, auto 35%;
  color: #EEE;
  height: 598px;
  width: 798px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin: 0;
  color: rgba(255,255,255,1);
}

body {
  border: 1px solid #48545c;
  overflow-y: hidden;
}

html, body {margin: 0;}

#main {
  height: calc(100% - 64px);
  margin-top: 132px;
  padding-left: 41.5px;
  padding-right: 41.5px;
  padding-bottom: 41.5px;
  overflow-y: auto;
}
