#menu-bar-left {
  position: absolute;
  padding-top: 16px;
  padding-left:42.5px;
  top:-10px;
  left:-10px;
  border-spacing: 10px;
  border-collapse: separate;
}

#menu-bar-left td {
  background-color: rgb(34,49,63);
  width: 150px;
  -webkit-app-region: no-drag;
}

#menu-bar-left a{
  color: white;
}

#menu-bar-left span.icon{
  float: left;
  margin: 0 10px;
}

#menu-bar-left img.icon{
  vertical-align: middle;
}

#menu-bar-left span.label{
  float: left;
  padding-top:3px;
  padding-bottom: 3px;
}


#menu-bar-left p{
  margin: 4px 0;
  font-size: 0.7rem;
}
