#menu-bar-left{
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 41.5px;
  padding-top: 17px;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

#menu-bar-left a{
  background-color: rgb(34,49,63);
  display: inline-block;
  color: white;
  width: 150px;
  height: 30px;
  padding: 0;
  overflow: hidden;
  user-select: none;
  overflow: hidden;
  -webkit-app-region: no-drag;
}

#menu-bar-left span.icon{
  float: left;
  margin: 0;
  height: 30px;
}

#menu-bar-left img.icon{
  vertical-align: middle;
  margin: 10px;
}

#menu-bar-left span.label{
  float: left;
  line-height: 30px;
  font-weight: 300;
}


#menu-bar-left p{
  font-size: 0.7rem;
}
