.setting-checkbox-statehint{
  font-weight: 300;
  font-size: 0.7rem;
}

.setting-block {
	padding-top: 10px;
	padding-bottom: 10px;
}

.credits-block {
  padding: 20px;
}

.credits-header {
	padding-top: 10px;
	padding-bottom: 10px;
  font-size: 32px;
}

.credits-entity {
  width: 90%;
  margin: 10px;
  max-width: 33em;
  position: relative;
  padding: 2em;
  box-sizing: border-box;
  color: #FFF;
  background: linear-gradient(to right, rgb(51,45,83), transparent);
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 1em;
}

.credits-entity:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right, rgb(71,59,99), transparent);
}

.credits-entity-name-primary {
  font-size: 32px;
}

.credits-entity-names-nonprimary {
  display: flex;
  align-items: center;
}

.credits-entity-name-nonprimary {
  font-size: 12px;
  font-style: italic;
  padding-right: 8px;
}


.credits-entity-contributions {
  font-size: 16px;
}

.credits-entity-ad {
  font-size: 12px;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(255, 0, 0, 0.2);
   color: white;
}

.footer .version {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: auto;
  text-align: right;
}
