@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

#caos-user-code{
  background-color: rgb(53,61,83);
  font-family: 'Inconsolata', monospace;
}

.syntax-variable, .syntax-returning-command, .syntax-operator, .syntax-bool-op{
  color: rgb(255,174,255);
}

.syntax-comment{
  color: rgb(216,255,120);
  opacity: (0.5);
}

.syntax-command, .syntax-flow{
  color: rgb(159,216,255);
}

.syntax-literal{
  color: rgb(255,205,146);
}

.syntax-error{
  color: rgb(255,0,0);
}

.syntax-error .error-tooltip {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}}

.syntax-error{
  color: rgb(255,0,0);
  border-bottom: 1px dotted black;
}

.code-decorator{
  background: black;
  color: rgb(255,100,100);
}
