#caos-user-code{
  background-color: white;
}

.syntax-variable, .syntax-returning-command, .syntax-operator, .syntax-bool-op{
  color: rgb(200,0,200);
}

.syntax-comment{
  color: rgb(0,128,0);
}

.syntax-command, .syntax-flow{
  color: rgb(0,0,255);
}

.syntax-number-literal, .syntax-string-literal{
  color: rgb(128,64,64);
}

.syntax-error{
  color: rgb(255,0,0);
  border-bottom: 1px dotted black;
}

.code-decorator{
  background: black;
  color: rgb(255,100,100);
}

.tooltip {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}
