@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

#caos-user-code{
  background-color: rgb(53,61,83);
  font-family: 'Inconsolata', monospace;
}

.syntax-variable, .syntax-returning-command, .syntax-operator, .syntax-bool-op{
  color: rgb(255,51,187);
}

.syntax-comment{
  color: rgb(67,255,134);
  opacity: (0.5);
}

.syntax-command, .syntax-flow{
  color: rgb(46,161,255);
}

.syntax-number-literal, .syntax-string-literal{
  color: rgb(255,170,84);
}

.syntax-error{
  color: rgb(255,0,0);
}

.syntax-error{
  color: rgb(255,0,0);
  border-bottom: 1px dotted black;
}

.code-decorator{
  background: black;
  color: rgb(255,100,100);
}

.tooltip {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}
