@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

#caos-user-code{
  background-color: rgb(53,61,83);
  font-family: 'Inconsolata', monospace;
}

span.syntax-variable, span.syntax-returning-command, span.syntax-operator, span.syntax-bool-op{
  color: rgb(255,123,172);
}

span.syntax-comment{
  color: rgb(140,198,63);
  opacity: (0.5);
}

span.syntax-command, span.syntax-flow{
  color: rgb(46,161,255);
}

span.syntax-number-literal, span.syntax-string-literal{
  color: rgb(255,147,30);
}

span.syntax-error{
  color: rgb(255,0,0);
}

.syntax-error .error-tooltip {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}
