#menu-bar-left{
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 41.5px;
  padding-top: 17px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

#menu-bar-left .nav-btn{
  background-color: rgb(51,45,83);
  color: white;
  display: inline-block;
  width: 150px;
  height: 30px;
  border: 0;
  outline: none;
  padding: 0;
  overflow: hidden;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

#menu-bar-left .nav-btn.icon {
  width: 30px;
  height: 30px;
}

#menu-bar-left .nav-btn:hover{
  background-color: rgb(85,255,82);
}
#menu-bar-left .active{
  background-color: rgb(85,255,82);
}

#menu-bar-left .nav-btn:hover .label{
  color: rgb(51,45,83);
}
#menu-bar-left .active .label{
  color: rgb(51,45,83);
}

#menu-bar-left .nav-btn:hover .icon{
  filter: invert(15%) sepia(13%) saturate(2713%) hue-rotate(209deg) brightness(92%) contrast(87%);
}
#menu-bar-left .active .icon{
  filter: invert(15%) sepia(13%) saturate(2713%) hue-rotate(209deg) brightness(92%) contrast(87%);
}

#menu-bar-left span.icon{
  float: left;
  margin: 0;
  height: 30px;
  filter: initial;
}

#menu-bar-left img.icon{
  vertical-align: middle;
  margin: 10px;
  filter: inherit;
}

#menu-bar-left span.label{
  float: left;
  line-height: 30px;
  font-weight: 300;
  font-size: 0.7rem;
  color: inherit;
}
