html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.column {
  flex-basis: 100%;
  text-align: center;
  flex: 1;
  border: 0;
}

.column-padding {
  flex-basis: 50%;
  text-align: center;
  flex: 1;
}

.column-fill {
  flex: 0 1 100%;
}

.column-static {
  flex: 1 0 0%;
}

.ca-table {
  display: table;
}

.ca-table-header {
  display: table-header-group;
}

.ca-table-header-title {
  display: table-caption;
  text-align: center;
  position: sticky;
  top: 0;
}

.ca-table-row-header {
  display: table-row;
  text-align: center;
}

.ca-table-row {
  display: table-row;
}

.ca-table-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}

.code-decorator {
  padding: 1px 5px;
  margin: -1px 0;
  border: 0px;
  border-radius: 6px;
  user-select: none;
}

/* Tooltip container */
.tooltip-holder {
  position: relative;
}

/* Tooltip text */
.tooltip {
  visibility: hidden;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  margin-left: 10px;
  top: -5px;
  z-index: 100;

  background-color: rgba(0,0,0,0.8);
  color: #fff;

  pointer-events: none;
}

/* Tooltip text */
.tooltip-left {
  visibility: hidden;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  margin-left: -150%;
  top: -5px;
  z-index: 100;

  background-color: rgba(0,0,0,0.8);
  color: #fff;

  pointer-events: none;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-holder:hover .tooltip {
  visibility: visible;
}
.tooltip-holder:hover .tooltip-left {
  visibility: visible;
}

.roomtypes-panel-editor {
    position: -webkit-sticky;
}

.banner-button {
  display: inline;
}

.banner-button button {
  padding: 0;
  border: 0;
  background-color: rgba(0,0,0,0);
  outline-color: white;
}

.banner-button img {
  padding: 0;
}

.standard-button button {
  padding: 0;
  border: 0;
  background-color: rgba(0,0,0,0);
  outline-color: white;
  opacity: 1;
}

.standard-button button:hover {
  filter: drop-shadow(4px 4px 3px black);
}

.standard-button button:active {
  opacity: 0.75;
}

@keyframes pulse-border {
  from {border-color: white;}
  to {border-color: black;}
}

.editor-button img {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: rgba(0,0,0,0);
  padding: 0;
}

.editor-button button {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: rgba(0,0,0,0);
  outline-color: white;
  padding: 0;
}

.editor-button {
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,0);
  opacity: 0.75;
  border-radius: 8px;
  border: 2px solid black;
  overflow: hidden;
  margin: 2.1666667px;
  transition: border-radius 1.5s ease-in-out 0s;
  animation-delay: 1.5s;
}

.editor-button:hover {
  opacity: 1;
}

.editor-button button:active {
  opacity: 0.5;
}

.banner-divider {
  display: inline;
  padding: 0.4rem;
}


.filter-sky-blue {
  filter: brightness(0) saturate(100%) invert(61%) sepia(7%) saturate(1828%) hue-rotate(154deg) brightness(89%) contrast(90%);
}

.filter-light-blue {
  filter: brightness(0) saturate(100%) invert(51%) sepia(100%) saturate(351%) hue-rotate(164deg) brightness(84%) contrast(89%);
}

.filter-dark-blue {
  filter: brightness(0) saturate(100%) invert(14%) sepia(13%) saturate(4355%) hue-rotate(176deg) brightness(98%) contrast(89%);
}

.filter-light-green {
  filter: brightness(0) saturate(100%) invert(82%) sepia(21%) saturate(453%) hue-rotate(58deg) brightness(88%) contrast(89%);
}

.filter-green {
  filter: brightness(0) saturate(100%) invert(65%) sepia(22%) saturate(1050%) hue-rotate(81deg) brightness(92%) contrast(89%);
}

.filter-dark-green {
  filter: brightness(0) saturate(100%) invert(33%) sepia(60%) saturate(1152%) hue-rotate(86deg) brightness(93%) contrast(87%);
}

.filter-light-brown {
  filter: brightness(0) saturate(100%) invert(98%) sepia(50%) saturate(325%) hue-rotate(320deg) brightness(102%) contrast(86%);
}

.filter-dark-brown {
  filter: brightness(0) saturate(100%) invert(24%) sepia(3%) saturate(1457%) hue-rotate(360deg) brightness(95%) contrast(93%);
}

.filter-yellow {
  filter: brightness(0) saturate(100%) invert(73%) sepia(11%) saturate(2367%) hue-rotate(21deg) brightness(94%) contrast(80%);
}

.filter-burnt-orange {
  filter: brightness(0) saturate(100%) invert(29%) sepia(99%) saturate(482%) hue-rotate(310deg) brightness(89%) contrast(93%);
}

.filter-black {
  filter: brightness(0) saturate(100%);
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(100%);
}
